data
*.war
*.env
!env_templates/template.bnc.env
!env_templates/template.postgres.env
!env_templates/template.dhis2.env
*.swp
*.gz.enc
*.7z
backups/*
!backups/.keep
logs/dhis2/*
logs/tomcat/*
!logs/dhis2/.keep
!logs/tomcat/.keep
